.PlaceReservedA{
    width: 40px;
    height: 40px;
    background-color: #0094ff;
    color: #ffffff;
}

.PlaceReservedA:hover{
    background-color: #ffffff;
    color: #0094ff;
}

.PlaceReservedB{
    width: 60px;
    height: 40px;
    background-color: #0094ff;
    color: #ffffff;
}

.PlaceReservedB:hover{
    background-color: #ffffff;
    color: #0094ff;
}

.PlaceCoupe{
    width: 40px;
    height: 40px;
    background-color: #0094ff;
    color: #ffffff;
}

.PlaceCoupe:hover{
    background-color: #ffffff;
    color: #0094ff;
}

.PlaceLux{
    width: 40px;
    height: 80px;
    background-color: #0094ff;
    color: #ffffff;
}

.PlaceLux:hover{
    background-color: #ffffff;
    color: #0094ff;
}

.closed{
    width: 40px;
    height: 40px;
    background-color: #e1eae8;
    color: #ff0000;
}

.waiting{
    width: 40px;
    height: 40px;
    background-color: #ffec52;
}