.PnlTrain{
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
}


.lbl_num{
    border: 1px solid #ff6a00;
}

.lbl_route{
    border: 1px solid #ff6a00;
}

.lbtn_full_route{
    border: 1px solid #ff6a00;
}

.lbl_date{
    border: 1px solid #ff6a00;
}

.BtnChoose{
    border: 2px solid #0094ff;
    border-radius: 10px;
    height: auto;
    width: auto;
    color: hotpink;
}