.PnlTrain{
    height: 88px;
    margin: 10px;
    border: 1px solid rgba(42, 121, 29, 0.8);
    border-left: none;
    background-color: rgba(255, 255, 255, 0.41);
}

.pnlCell{
    border-left: 1px solid rgba(42, 121, 29, 0.8);
    float: left;
    margin: 0 10px 0px 0px;
    padding: 10px;
    height: 67px;
}

.lbl_num{
    font-weight: 500;
    font-size: large;
}

.lbl_route{
    font-size: small;
}

.lbtn_full_route{
    color: rgb(255, 255, 255);
}

.left{
    float: left;
}

.right{
    float:right;
}

.header{

    margin: 5px 0px 0px 10px;
    padding: 5px;

    background: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    outline: none;
    color: rgb(42, 121, 29);
}

.BtnChoose{
    height: auto;
    width: auto;
    margin: 0px 10px 0px 0px;

    background: #fff;
    border: 1px solid rgb(42, 121, 29);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    outline: none;
    color: rgb(42, 121, 29);
}

.BtnChoose:hover{
    background: rgb(42, 121, 29);
    color: #fff;
}

.cancelBtn{
    float: right;
    background: none;
    border:none;
    color: darkred;
    cursor: pointer;
}