body {
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    background-color: #119434;
}

#wrapper{
    width: 1080px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
    background-color: #b6ff00;
}

#lblMyTicket{
    float: right;

}

#header{
    height: 200px;
    border: 3px solid #119434;
}

#content_area{
    background-color: #00ff90;
}